{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to SocialApp{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <!-- Hero Section -->
            <div class="py-5">
                <h1 class="display-4 fw-bold text-primary mb-4">Welcome to SocialApp</h1>
                
             
                    <div class="d-flex gap-3 justify-content-center">
                        <a href="" class="btn btn-primary btn-lg">Get Started</a>
                        <a href"" class="btn btn-outline-primary btn-lg">Login</a>
                    </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
